
body{
  background-color: burlywood;
  height:100vh;
}

  button {
  background-color:black;
  padding:20px;
  color:white;
  border-radius:10px;
  position:absolute;
  left:45%;
  top:45%;

}

input {
  background-color: blanchedalmond;
  padding: 10px;
  margin:10px;

}